<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167681304876-1iio0ojdtnuaool7p0dhc8kimsnjops1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167681304876-1iio0ojdtnuaool7p0dhc8kimsnjops1</string>
	<key>API_KEY</key>
	<string>AIzaSyCPFpHvgAzq71yKw6c198-ADIXA4bACjDI</string>
	<key>GCM_SENDER_ID</key>
	<string>167681304876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kuwaitcodes.MOOM</string>
	<key>PROJECT_ID</key>
	<string>moom-e9962</string>
	<key>STORAGE_BUCKET</key>
	<string>moom-e9962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167681304876:ios:0bfd795be18f2ba617e489</string>
	<key>DATABASE_URL</key>
	<string>https://moom-e9962.firebaseio.com</string>
</dict>
</plist>